/* Import de la police Roboto */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

/* Style global pour le corps de la page */
body {
    font-family: 'Roboto', Arial, sans-serif; /* Utilisation de la police Roboto */
    
    padding-top: 100px; /* Ajustez la distance vide en haut selon vos besoins */
}


  
  
.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Assure que le container est derrière les autres éléments */
  background-color: transparent;
  background-image: radial-gradient(#000000 1px, #e5e5f7 1px);
  background-size: 35px 35px;
}



.menu-bar {
    background-color: #2f3293;
    width: 100%;
    position: fixed; /* Position fixe pour maintenir en haut */
    top: 0; /* Aligner en haut de la page */
    left: 0; /* Aligner à gauche de la page */
    z-index: 1000; /* Assure que la barre de menu reste au-dessus du contenu */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 15px;
    box-sizing: border-box;
}

.menu-bar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-bar ul li {
    margin-left: 0px;
}

.menu-bar ul li:first-child {
    margin-left: 0;
}

.menu-bar ul li a {
    position: relative;
    display: block;
    text-transform: uppercase;
    padding: 10px 20px;
    text-decoration: none;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 15px; /*   */
    font-weight: 600;
    transition: 0.5s;
}

.menu-bar ul li a:hover {
    color: #2f3293;
}

.menu-bar ul li a:hover::before {
    transform: scaleY(1);
    opacity: 1;
}

.menu-bar ul li a::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 100%;
    height: 90%;
    background-color: #ffffff;
    transform: scale(0);
    opacity: 0;
    transition: 0.3s;
    z-index: -1;
    border-radius: 15px;
}

.menu-bar ul li a:hover::after {
    transform: scaleY(1);
    opacity: 1;
}

.logo img {
    max-height: 48px; /* Ajustez la taille du logo selon vos besoins */
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    display: inline-block;
    margin-left: 0px; /* Espacement entre les éléments du menu */
}

.menu li:first-child {
    margin-left: 0;
    margin-right: 0px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}


.tableau-user {
    text-align: left; /* Aligner le contenu à gauche */
    width: 100px; /* Largeur fixe du tableau */
    min-width: 900px; /* Largeur minimale */
    padding: 15px; /* Espacement à l'intérieur de l'élément */
    background-color: #e5e1f896; /* Couleur de fond */
    border-radius: 5px; /* Coins arrondis */
    box-shadow: 0px 2px 5px rgba(255, 251, 251, 0.1); /* Ombre */
    transition: all 0.3s; /* Transition fluide */
    margin: 0 auto; /* Pour centrer horizontalement */
    margin-top: 50px; /* Espacement par rapport au haut de la page */
    margin-bottom: 20px; /* Marge inférieure */
    position: relative; /* Ajout de la propriété position */
    top: -20px; /* Ajustez la position verticale selon vos besoins */
    display: flex; /* Pour utiliser un affichage en ligne (flexible) */
    flex-direction: column; /* Aligner les éléments en colonne */

    align-items: center; /* Aligner les éléments verticalement */

}


.tableau-user h2 {
    margin: 0 auto;
    color: #2f3293; /* Changer la couleur du titre en bleu */
    font-weight: bold; /* Mettre le titre en gras */
    text-align: center; /* Centrer le texte */
    width: 100%; /* Largeur maximale du titre */
}




.logo_page {
    
    position: relative; /* Permet de positionner l'image de manière absolue par rapport à ce conteneur */

    height: auto; /* Conservez les proportions de l'image */
    margin-right: 20px; /* Espacement entre le logo et le texte */

}

.logo_page img {
    width: 150px; /* Largeur de l'image */
    height: auto; /* Hauteur de l'image ajustée proportionnellement */
}


.logo-and-text {
    display: flex; /* Utilisation de la flexbox pour aligner les éléments horizontalement */
    align-items: center; /* Aligner les éléments verticalement */
}

.text-content {
    flex-grow: 1; /* Permet au texte de prendre tout l'espace disponible */
    text-align: justify; /* Justifier le texte */

}







.footer-bar {
    display: flex; /* Ajout de flexbox */
    justify-content: space-between; /* Pour séparer les éléments si nécessaire */
    background-color: #2f3293; /* Couleur de fond de la bande */
    width: 100%; /* Largeur totale de la bande */
    position: fixed; /* Position fixe pour rester en bas de la page */
    bottom: 0; /* Alignement en bas */
    left: 0; /* Alignement à gauche */
    z-index: 1000; /* Assure que la bande reste au-dessus du contenu */
    display: flex; /* Utilisation de la flexbox pour aligner les éléments horizontalement */
    justify-content: space-between; /* Espace uniformément les éléments */
    align-items: center; /* Aligner verticalement les éléments */
    padding: 8px 15px; /* Espacement interne de la bande */
    box-sizing: border-box; /* Inclure les bordures et les rembourrages dans la largeur et la hauteur */
}

.footer-menu ul {
    display: flex; /* Utilisation de la flexbox pour aligner les éléments horizontalement */
    list-style: none; /* Supprimer les puces de la liste */
    margin: 0; /* Supprimer les marges extérieures */
    padding: 0; /* Supprimer les remplissages intérieurs */
}

.footer-menu ul li {
    margin-left: 10px; /* Espacement entre les éléments du menu */
}

.footer-menu ul li:first-child {
    justify-content: center;

}

.footer-menu ul li a {

    text-decoration: none; /* Supprimer les soulignements des liens */
    color: #ffffff; /* Couleur du texte */
    font-weight: bold; /* Gras */
    padding: 10px 20px; /* Espacement interne des liens */
    transition: 0.5s; /* Effet de transition */
}

.footer-menu ul li a:hover {
    justify-content: center;

    color: #2f3293; /* Couleur du texte au survol */
}
















.tableau-user2 {
    text-align: left; /* Aligner le contenu à gauche */
    width: 100px; /* Largeur fixe du tableau */
    min-width: 900px; /* Largeur minimale */
    padding: 15px; /* Espacement à l'intérieur de l'élément */
    background-color: #e5e1f896; /* Couleur de fond */
    border-radius: 5px; /* Coins arrondis */
    box-shadow: 0px 2px 5px rgba(255, 251, 251, 0.1); /* Ombre */
    transition: all 0.3s; /* Transition fluide */
    margin: 0 auto; /* Pour centrer horizontalement */
    margin-top: 50px; /* Espacement par rapport au haut de la page */
    margin-bottom: 20px; /* Marge inférieure */
    position: relative; /* Ajout de la propriété position */
    top: -20px; /* Ajustez la position verticale selon vos besoins */
    display: flex; /* Pour utiliser un affichage en ligne (flexible) */
    flex-direction: column; /* Aligner les éléments en colonne */

    align-items: center; /* Aligner les éléments verticalement */

}


.tableau-user2:hover {
    transform: translateY(-5px); /* Animation de survol */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); /* Ombre au survol */
}


.tableau-user:hover {
    transform: translateY(-5px); /* Animation de survol */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); /* Ombre au survol */
}



.tableau-user h2 {
    margin: 0 auto;
    color: #2f3293; /* Changer la couleur du titre en bleu */
    font-weight: bold; /* Mettre le titre en gras */
    text-align: center; /* Centrer le texte */
    width: 100%; /* Largeur maximale du titre */
}






.card {
    width: 250px;
    height: 150px;
    perspective: 1000px;
    position: absolute;
    top: 550px;
    left: 100px;
  }
  
  .card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.999s;
  }
  
  .card:hover .card-inner {
    transform: rotateY(180deg);
  }
  
  .card-front,
  .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    
    
  }
  
  .card-front {
    font-weight: bold; /* Ajout de la propriété pour mettre le texte en gras */

    background-color: #6FB1FC;
    color: #2f3293;
    display: flex;
    align-items: center;
    border: 10px solid #6FB1FC;
    border-radius: 10px;
    justify-content: center;
    font-size: 24px;
    transform: rotateY(0deg);
  }
  
.card-back {
    background-color: #2f3293;
    color: #ffffff;
    display: flex;
    align-items: center;
    border: 10px solid #2f3293;
    border-radius: 10px;
    justify-content: center;
    font-size: 24px;
    transform: rotateY(180deg);
  }
  





  .card2 {
    width: 250px;
    height: 150px;
    perspective: 1000px;
    position: absolute;
    top: 550px;
    left: 550px;
  }
  
  .card-inner2 {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.999s;
  }
  
  .card2:hover .card-inner2 {
    transform: rotateY(180deg);
  }
  
  .card-front2,
  .card-back2 {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    
    
  }
  
  .card-front2 {
    font-weight: bold; /* Ajout de la propriété pour mettre le texte en gras */

    background-color: #6FB1FC;
    color: #2f3293;
    display: flex;
    align-items: center;
    border: 10px solid #6FB1FC;
    border-radius: 10px;
    justify-content: center;
    font-size: 24px;
    transform: rotateY(0deg);
  }
  
  .card-back2 {
    background-color: #6FB1FC;
    color: #ffffff;
    display: flex;
    align-items: center;
    border: 10px solid #6FB1FC;
    border-radius: 10px;
    justify-content: center;
    font-size: 24px;
    transform: rotateY(180deg);
  }












  .card3 {
    width: 250px;
    height: 150px;
    perspective: 1000px;
    position: absolute;
    top: 550px;
    left: 1000px;
  }
  
  .card-inner3 {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.999s;
  }
  
  .card3:hover .card-inner3 {
    transform: rotateY(180deg);
  }
  
  .card-front3,
  .card-back3 {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    
    
  }
  
  .card-front3 {
    font-weight: bold; /* Ajout de la propriété pour mettre le texte en gras */

    background-color: #6FB1FC;
    color: #2f3293;
    display: flex;
    align-items: center;
    border: 10px solid #6FB1FC;
    border-radius: 10px;
    justify-content: center;
    font-size: 24px;
    transform: rotateY(0deg);
  }
  
  .card-back3 {
    background-color: #6FB1FC;
    color: #ffffff;
    display: flex;
    align-items: center;
    border: 10px solid #6FB1FC;
    border-radius: 10px;
    justify-content: center;
    font-size: 24px;
    transform: rotateY(180deg);
  }












.logo_page {
    
    position: relative; /* Permet de positionner l'image de manière absolue par rapport à ce conteneur */

    height: auto; /* Conservez les proportions de l'image */
    margin-right: 20px; /* Espacement entre le logo et le texte */

}

.logo_page img {
    width: 150px; /* Largeur de l'image */
    height: auto; /* Hauteur de l'image ajustée proportionnellement */
}


.logo-and-text {
    display: flex; /* Utilisation de la flexbox pour aligner les éléments horizontalement */
    align-items: center; /* Aligner les éléments verticalement */
}

.text-content {
    flex-grow: 1; /* Permet au texte de prendre tout l'espace disponible */
    text-align: justify; /* Justifier le texte */

}


.content {
    overflow: hidden; /* Cela désactivera le défilement */
}





.social-media {
    margin-left: auto; /* Pour aligner à droite */

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

  
.socail-media li a {
    
    width: 15px;
    height: 15px;
    background-color: #2f3293;
    display: flex;
    overflow: hidden;
    align-items: center;
    align-content: center;
    justify-content: center;
    position: relative;
    z-index: 9;
    border: 1px solid #ffffff;
  }
  
  .socail-media li a svg {
    width: 15px;
    height: 15px;
    -o-object-fit: contain;
    object-fit: contain;
    filter: invert(100%) sepia(0%) saturate(7455%) hue-rotate(57deg) brightness(108%) contrast(105%);
  }
  
  .socail-media li a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
    clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
    background-color: #fff;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0;
    
  }
  
  .socail-media li a:hover::after {
    animation: sideClip 0.3s linear;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    opacity: 1;
  }
  
  .socail-media li a:hover svg {
    animation: fadeInLeft 0.3s linear both;
    filter: invert(38%) sepia(3%) saturate(100%) hue-rotate(100deg) brightness(108%) contrast(100%);
}
  
  




  
.footer-bar h4 {
  position: absolute; /* Position absolue pour sortir du flux normal */
  top: -10%; /* Positionne le haut de l'élément au milieu de .footer-bar */
  left: 50%; /* Positionne la gauche de l'élément au milieu de .footer-bar */
  transform: translate(-50%, -50%); /* Pour centrer l'élément horizontalement et verticalement */
  color: #ffffff; /* Couleur du texte en blanc */
}



  
.Service {
    position: absolute;
    top: 65%; /* Définit la position verticale au centre */
    left: 50%; /* Définit la position horizontale au centre */
    transform: translate(-50%, -50%); /* Centre l'élément par rapport à son propre contenu */
    padding: 10px;
    color: #2f3293; /* Couleur du texte */
    font-weight: bold; /* Texte en gras */
    font-size: 40px; /* Taille du texte */

}

.Service h5 {
    margin: 0;
}




.card9 {
  width: 800px;
  height: 300px;
  border-radius: 14px;
  z-index: 1111;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 20px 20px 60px #7e7d7d, -15px -15px 150px #7e7d7d;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 790px;
  height: 290px;
  z-index: 2;
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(24px);
  border-radius: 10px;
  overflow: hidden;
  outline: 2px solid white;
}

.blob {
  position: absolute;
  top: 50px;
  left: 20px;
  z-index: 1;
  width: 790px;
  height: 290px;
  border-radius: 100%;
  background-color: #2f3293;
  opacity: 1;
  filter: blur(12px);
  animation: blob-bounce 5s infinite ease;
}

@keyframes blob-bounce {
  0% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }
  25% {
    transform: translate(-100%, -100%) translate3d(100%, 0, 0);
  }
  50% {
    transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
  }
  75% {
    transform: translate(-100%, -100%) translate3d(0, 100%, 0);
  }
  100% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }
}



.image {
  width: 200px; /* Largeur de l'image */
  height: auto; /* Hauteur ajustée automatiquement */
  padding: 10px; /* Espace intérieur de 10 pixels */
  position: relative;
  top: 500px; /* Décalage de 50 pixels vers le bas */
  left: 200px; /* Décalage de 20 pixels vers la droite */
}

.image img {
  width: 100%; /* La largeur de l'image prend la largeur totale du conteneur */
  height: auto; /* Hauteur ajustée automatiquement pour conserver les proportions */
  display: block; /* Pour supprimer les espaces blancs sous l'image */
}


/* Une marge à droite est inutile car nous positionnons l'image de façon absolue */





/* Sélecteur pour l'image à l'intérieur de la classe .logo_page */
.logo_page img {
  /* Propriétés de style */
  width: 10px; /* Largeur de l'image */
  height: auto; /* Hauteur automatique pour conserver les proportions */
  border-radius: 50%; /* Bordure arrondie pour une forme circulaire */
  border: 2px solid #2f3293; /* Bordure de 2 pixels solide avec une couleur spécifiée */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

/* Styliser les éléments à l'intérieur de la classe .textee */
.textee {
  font-family: Arial, sans-serif; /* Police de caractères */
  color: #333; /* Couleur du texte */
  line-height: 1.5; /* Hauteur de ligne */
  padding-left: 50px; /* Ajoute un espace de 20 pixels à gauche du contenu */
  margin-top: 50px; /* Ajoute un espace en haut de la div */

}

.textee h11 {
  font-size: 18px; /* Taille de police pour les titres */
  font-weight: bold; /* Poids de la police en gras */
}

.textee h12 {
  font-size: 18px; /* Taille de police pour les titres */
  font-weight: bold; /* Poids de la police en gras */
}

.textee h13 {
  font-size: 18px; /* Taille de police pour les titres */
  font-weight: bold; /* Poids de la police en gras */
}




.titre1 {
  background-color: #7073886c; /* Couleur de fond */
  padding: 10px; /* Espacement intérieur */
  border-radius: 5px; /* Coins arrondis */
}

.titre1 h2 {
  color: #2f3293; /* Couleur du texte */
  font-size: 24px; /* Taille de la police */
  font-weight: bold; /* Gras */
  margin: 0; /* Supprimer les marges par défaut */
}
















.Btn {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: absolute;
  /* overflow: hidden; */
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;

  top: 85%;
  left: 35%;
  transform: translate(-50%, -50%);
}

.svgContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  backdrop-filter: blur(0px);
  letter-spacing: 0.8px;
  border-radius: 10px;
  transition: all 0.3s;
  border: 1px solid rgba(156, 156, 156, 0.61);
}

.BG {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #0077b5;
  z-index: -1;
  border-radius: 10px;
  pointer-events: none;
  transition: all 0.3s;
}

.Btn:hover .BG {
  transform: rotate(35deg);
  transform-origin: bottom;
}

.Btn:hover .svgContainer {
  border: 1px solid rgba(216, 216, 216, 0.466);
  background-color: rgba(190, 190, 190, 0.466);
  backdrop-filter: blur(4px);
}





















.Btn2 {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: absolute;
  /* overflow: hidden; */
  border-radius: 7px;
  cursor: pointer;
  transition: all .3s;

  top: 85%;
  left: 25%;
  transform: translate(-50%, -50%);
}

.svgContainer2 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  backdrop-filter: blur(4px);
  letter-spacing: 0.8px;
  border-radius: 10px;
  transition: all .3s;
  border: 1px solid rgba(156, 156, 156, 0.466);
}

.BG2 {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  z-index: -1;
  border-radius: 9px;
  pointer-events: none;
  transition: all .3s;
}

.Btn2:hover .BG2 {
  transform: rotate(35deg);
  transform-origin: bottom;
}

.Btn2:hover .svgContainer2 {
  background-color: rgba(156, 156, 156, 0.466);
}










.Btn3 {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: absolute;
  /* overflow: hidden; */
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s;

  top: 85%;
  left: 15%;
  transform: translate(-50%, -50%);
}

.svgContainer3 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  backdrop-filter: blur(0px);
  letter-spacing: 0.8px;
  border-radius: 10px;
  transition: all 0.3s;
  border: 1px solid rgba(156, 156, 156, 0.466);
}

.BG3 {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #1877f2;
  z-index: -1;
  border-radius: 10px;
  pointer-events: none;
  transition: all 0.3s;
}

.Btn3:hover .BG3 {
  transform: rotate(35deg);
  transform-origin: bottom;
}

.Btn3:hover .svgContainer3 {
  border: 1px solid rgba(230, 230, 230, 0.466);
  background-color: rgba(204, 204, 204, 0.466);
  backdrop-filter: blur(4px);
}


/* styles.css */

.image-classe {
  width: 150px; /* Ajustez la largeur selon vos besoins */
  height: auto; /* Ajustez la hauteur automatiquement en gardant le ratio d'aspect */
  margin: 20px; /* Ajoute une marge autour de l'image */
  position: relative; /* Position relative pour un positionnement plus précis */
  top: -22%; /* Déplace l'image vers le bas de 50% de la hauteur de son conteneur */
  left: 80%; /* Déplace l'image vers la droite de 50% de la largeur de son conteneur */
  transform: translate(-50%, -50%); /* Recentre l'image par rapport à son propre centre */
}





.image-classe1 {
  width: 25px; /* Ajustez la largeur selon vos besoins */
  height: auto; /* Ajustez la hauteur automatiquement en gardant le ratio d'aspect */
  margin: 15px; /* Ajoute une marge autour de l'image */
  position: relative; /* Position relative pour un positionnement plus précis */
  top: -100%; /* Déplace l'image vers le bas de 50% de la hauteur de son conteneur */
  left: -22.5%; /* Déplace l'image vers la droite de 50% de la largeur de son conteneur */
  transform: translate(-50%, -50%); /* Recentre l'image par rapport à son propre centre */
}




.image-classe2 {
  width: 23px; /* Ajustez la largeur selon vos besoins */
  height: auto; /* Ajustez la hauteur automatiquement en gardant le ratio d'aspect */
  margin: 15px; /* Ajoute une marge autour de l'image */
  position: relative; /* Position relative pour un positionnement plus précis */
  top: -87%; /* Déplace l'image vers le bas de 50% de la hauteur de son conteneur */
  left: -30%; /* Déplace l'image vers la droite de 50% de la largeur de son conteneur */
  transform: translate(-50%, -50%); /* Recentre l'image par rapport à son propre centre */
}




.image-classe3 {
  width: 23px; /* Ajustez la largeur selon vos besoins */
  height: auto; /* Ajustez la hauteur automatiquement en gardant le ratio d'aspect */
  margin: 15px; /* Ajoute une marge autour de l'image */
  position: relative; /* Position relative pour un positionnement plus précis */
  top: -74%; /* Déplace l'image vers le bas de 50% de la hauteur de son conteneur */
  left: -37%; /* Déplace l'image vers la droite de 50% de la largeur de son conteneur */
  transform: translate(-50%, -50%); /* Recentre l'image par rapport à son propre centre */
}